# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.vscode/
.DS_Store

# Model and data files
*.h5
*.pt
*.onnx
*.zip
*.tar
*.csv
*.npy
*.pkl

# System
Thumbs.db
desktop.ini
